@model IEnumerable<TechSols.Entities.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table myTable table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailImagePath)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
	            @* @Html.DisplayFor(modelItem => item.ThumbnailImagePath) *@
					<img src="@item.ThumbnailImagePath" alt="img" height="100" class="img-fluid rounded" />
            </td>
            <td>
	            <a asp-action="Edit" asp-route-id="@item.Id">
						<i class="fa-solid fa-pen-nib text-primary"></i>
	            </a> |
	            <a asp-action="Details" asp-route-id="@item.Id">
		            <i class="fas fa-book-open-reader text-warning"></i> 
	            </a> |
	            <a asp-action="Delete" asp-route-id="@item.Id">
		            <i class="fas fa-trash-alt text-danger"></i></a> |
	            <a asp-controller="CategoryItems" asp-action="Index" asp-route-categoryId="@item.Id">
		            <i class="fa-solid fa-wrench text-success"></i>
	            </a>
            </td>
        </tr>
}
    </tbody>
</table>
